@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700,800");

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

[class*=_icon-]::before {
  display: block;
}

._icon-book_open:before {
  content: "\e900";
}

._icon-edit:before {
  content: "\e901";
}

._icon-mail:before {
  content: "\e903";
}

._icon-phone:before {
  content: "\e904";
}

._icon-star:before {
  content: "\e905";
}

._icon-user:before {
  content: "\e906";
}

.navigation-button {
  background-color: transparent;
  font-family: "Manrope", monospace;
  font-weight: 700;
  color: #000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

.button {
  background-color: #5c757c;
  padding: 1.6rem 3.3rem;
  text-transform: capitalize;
  height: 5rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-flexed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  height: 100%;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.button-outlined {
  background-color: transparent;
  border: 0.2rem solid #5c757c;
}

.main__cards {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  -ms-grid-columns: (33rem)[3];
  grid-template-columns: repeat(3, 33rem);
  gap: 2rem;
}

.main__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: calc(2rem + 10 * (100dvw - 32rem) / 1480);
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.main__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: calc(2rem + 10 * (100dvw - 32rem) / 1480);
  overflow: hidden;
}

.main__card-body {
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(2rem + 10 * (100dvw - 32rem) / 1480);
}

.main__card-img {
  width: 100%;
  height: 51.1247443763dvh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__card-title {
  color: #141414;
  font-family: "Manrope", monospace;
  font-size: calc(1.6rem + 10 * (100dvw - 32rem) / 1480);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.main__card-description {
  width: 70%;
}

.burger {
  z-index: 2;
  display: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
}

*:focus {
  outline: none;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited,
a:focus {
  outline: none;
  color: #000;
  text-decoration: none;
}

input,
textarea,
button {
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Manrope", monospace;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 12.6rem 1fr 63rem;
  grid-template-rows: 12.6rem 1fr 63rem;
}

[class$=__container] {
  max-width: 93.75%;
  margin: 0 auto;
  padding: 0 1rem;
}

.main__section {
  position: relative;
  top: 12.6rem;
  left: 0;
  padding: calc(7.5rem + 75 * (100dvw - 32rem) / 1480) 0;
}

.social-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 max-content;
          flex: 0 1 max-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(1.8rem + 12 * (100dvw - 32rem) / 1480);
}

.social__item {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10%;
  position: relative;
  cursor: pointer;
}

.social__item::before {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2470588235);
  border-radius: 0.5rem;
}

.social__item:hover::before {
  width: 100%;
}

.contact-link {
  color: #141414;
  font-family: "Manrope", monospace;
  font-size: calc(1.4rem + 4 * (100dvw - 32rem) / 1480);
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.18px;
}

.list {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (-webkit-max-content)[5];
  -ms-grid-columns: (max-content)[5];
  grid-template-columns: repeat(5, -webkit-max-content);
  grid-template-columns: repeat(5, max-content);
  gap: calc(1.8rem + 12 * (100dvw - 32rem) / 1480);
}

.list__item {
  color: #555;
  font-family: "Manrope", monospace;
  font-size: calc(1.4rem + 4 * (100dvw - 32rem) / 1480);
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: capitalize;
  padding: 1rem 0;
}

.header {
  background-color: #7A9CA5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 93.75%;
  gap: calc(1.8rem + 12 * (100dvw - 32rem) / 1480);
  height: 12.6rem;
  position: relative;
  top: 0;
  right: 0;
  -webkit-transform: translateX(-23px);
      -ms-transform: translateX(-23px);
          transform: translateX(-23px);
}

.header__major-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(2.6rem + 20 * (100dvw - 32rem) / 1480);
}

.header__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
}

.header__title {
  color: #141414;
  font-family: "Manrope", monospace;
  font-size: calc(1.8rem + 10 * (100dvw - 32rem) / 1480);
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.header__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(2.2rem + 10 * (100dvw - 32rem) / 1480);
}

.header__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 max-content;
          flex: 0 1 max-content;
}

.header__list-item {
  position: relative;
  top: 0;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header__list-item::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__list-item:hover::before {
  width: 100%;
}

.header__sub-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  top: 0;
  left: 0;
}

.header__link-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.header__link-arrow span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link-arrow span::before,
.header__link-arrow span::after {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.2rem;
  background-color: #000;
}

.header__link-arrow span::before {
  -webkit-transform: rotate(230deg);
      -ms-transform: rotate(230deg);
          transform: rotate(230deg);
}

.header__link-arrow span::after {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
  position: relative;
  top: 0;
  left: -4px;
}

.header__link-arrow:hover span::before {
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
}

.header__link-arrow:hover span::after {
  -webkit-transform: rotate(220deg);
      -ms-transform: rotate(220deg);
          transform: rotate(220deg);
  position: relative;
  top: 0;
  left: -4px;
}

.header__sub-menu {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 20rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  background-color: #7a9ca5;
}

.header__sub-container:hover .header__sub-menu {
  pointer-events: all;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  opacity: 1;
  visibility: visible;
}

.header__sub-menu::-webkit-scrollbar {
  display: none;
}

.header__sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.header__sub-item {
  color: #555;
  font-family: "Manrope", monospace;
  font-size: calc(1.2rem + 6 * (100dvw - 32rem) / 1480);
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
}

.main__bg-container {
  width: 100%;
  height: 100dvh;
  position: relative;
  top: 12.6rem;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
}

.main__bg-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 100%;
}

.main__bg-color--full-screen {
  background-color: #EBF3F5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.main__container {
  width: 81.09375%;
  padding: 0 1rem;
  margin: 0 auto;
}

.main__container--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  height: 90dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(4rem + 15 * (100dvw - 32rem) / 1480);
}

.main__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.main__left-block--screen {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 61rem;
          flex: 0 1 61rem;
}

.main__left-top,
.main__left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.main__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.2rem;
}

.main__icon {
  width: 2rem;
  height: 2rem;
}

.main__icon-title {
  color: #5C8692;
  font-family: "Manrope", monospace;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.main__title {
  color: #141414;
  font-family: "Manrope", monospace;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.7px;
  text-transform: capitalize;
}

.main__title--larger {
  font-size: 6rem;
}

.main__description {
  color: #555;
  font-family: Manrope;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  width: 100%;
}

.main__first-description {
  width: 48rem;
}

.main__button {
  background-color: #5C8692;
}

.main__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__right-block--screen {
  padding: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60rem;
          flex: 0 1 60rem;
  height: 60rem;
  border: 1rem solid #ebf3f5;
  -ms-flex: 0 1 61rem;
      flex: 0 1 61rem;
  border-left: none;
}

.main__image-box {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate(-10%, 0);
      -ms-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
}

.main__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65rem;
  height: 55rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-us {
  background-color: #EBF3F5;
}

.main__about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: calc(4.5rem + 5 * (100dvw - 32rem) / 1480);
}

.main__about-cards {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: (16.5rem)[3];
  grid-template-columns: repeat(3, 16.5rem);
  gap: 1rem;
}

.main__about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 1px solid #1E2C30;
  background: #FFF;
  padding: 2.1rem 1.1rem;
  min-height: 18rem;
}

.main__card-box--lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.4rem;
}

.main__card-title--lower {
  font-size: calc(1.6rem + 2 * (100dvw - 32rem) / 1480);
}

.main__right-block--background {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.main__about-img {
  width: 37.1666666667dvw;
  height: 93.8110749186dvh;
}

.main__category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__category-top {
  margin-bottom: 5rem;
}

.main__category-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}

.main__category-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main__category-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 61.2rem;
          flex: 0 1 61.2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main__category-item:nth-child(even) .main__category-left {
  margin-top: -0.3rem;
}

.main__category-img {
  width: 100%;
  height: 100%;
}

.main__category-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53rem;
          flex: 0 1 53rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.5rem;
}

.main__category-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(1.4rem + 4 * (100dvw - 32rem) / 1480);
}

.main__category-list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.main__category-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title--lower {
  font-size: 2.2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 max-content;
          flex: 0 1 max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__title--lower::after {
  content: "..........................................";
  display: inline-block;
  margin-left: 1rem;
}

.main__description--black {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 max-content;
          flex: 0 1 max-content;
}

.main__category-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main__category-description::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #9BB7BF;
}

.button-category {
  width: 20.75dvw;
}

@media (min-width: 1439px) {
  .main__category-top {
    max-width: 65.9rem;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 1496.5px) {
  .main__right-block--screen {
    display: none;
  }
}

@media (max-width: 1339.5px) {
  .button-flexed {
    font-size: 1rem;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 2.4rem;
    height: 2.4rem;
  }

  .burger__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.5rem;
    position: relative;
    top: 0;
    left: 0;
  }

  .burger__item--active {
    gap: 0;
  }

  .burger__item--active::before,
  .burger__item--active::after {
    width: calc(0.9rem + 3.75 * (100dvw - 32rem) / 1480);
  }

  .burger__item--active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
    top: 0.1rem;
    left: 0;
  }

  .burger__item--active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    bottom: 0;
    left: 0;
  }

  .burger__second-line,
  .burger__item::before,
  .burger__item::after {
    content: "";
    display: inline-block;
    width: calc(2rem + 10 * (100dvw - 32rem) / 1480);
    height: 0.1rem;
    background-color: #000;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .burger__second-line--active {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .social-list {
    gap: calc(1.4rem + 4 * (100dvw - 32rem) / 1480);
  }

  .contact-link {
    font-size: calc(1.2rem + 2 * (100dvw - 32rem) / 1480);
  }

  .list {
    gap: calc(1.4rem + 4 * (100dvw - 32rem) / 1480);
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .list__item {
    font-size: 3.4rem;
    padding: 0;
  }

  .header__title {
    font-size: calc(1.5rem + 3 * (100dvw - 32rem) / 1480);
  }

  .header__navigation {
    visibility: hidden;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: #7A9CA5;
    padding: 4rem 3rem;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }

  .header__navigation--active {
    visibility: visible;
    opacity: 1;
  }

  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    overflow-y: auto;
    width: 50%;
    margin: 0 auto;
  }

  .header__sub-menu {
    width: 100%;
    top: 0;
    left: 30%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: transparent;
  }

  .header__sub-container:hover .header__sub-menu {
    position: relative;
  }

  .header__sub-item {
    font-size: 3.4rem;
  }
}

@media (max-width: 1306.5px) {
  .main__cards {
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
  }

  .main__card {
    -webkit-box-shadow: 0 0 1rem #000;
            box-shadow: 0 0 1rem #000;
  }

  .main__card-body {
    padding: 0 2rem;
    padding-bottom: 1.5rem;
  }

  .main__card-title {
    padding: 0 2rem;
  }

  .social__item {
    width: 6rem;
    height: 6rem;
  }

  .social__img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1301.5px) {
  .header__container {
    height: 8rem;
  }

  .main__bg-container {
    top: 8rem;
  }

  .main__container--absolute {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }

  .main__left-block--screen {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    background-color: #fff;
    padding: 1.5rem 3rem;
  }
}

@media (max-width: 1287.5px) {
  .main__category-container {
    gap: 10rem;
  }

  .main__category-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main__category-left {
    display: none;
  }

  .main__category-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .button-category {
    width: 100%;
  }
}

@media (max-width: 1024.5px) {
  .button {
    background-color: rgba(155, 199, 211, 0.4745098039);
  }

  .header__sub-container {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: calc(1.8rem + 12 * (100dvw - 32rem) / 1480);
  }
}

@media (max-width: 768.5px) {
  .main__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .main__about-us-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main__about-cards {
    width: 100%;
    -ms-grid-columns: (49%)[2];
    grid-template-columns: repeat(2, 49%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
    row-gap: 3%;
  }

  .main__right-block--background {
    display: none;
  }
}

@media (max-width: 717.5px) {
  .main__left-block--screen {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    background-color: transparent;
    padding: 0;
  }

  .main__description {
    font-weight: 700;
    word-spacing: 0.5rem;
  }

  .main__first-description {
    color: #fff;
  }

  .main__button {
    width: 50rem;
    background-color: #7d9aa3;
  }
}

@media (max-width: 425.5px) {
  .main__about-cards {
    width: 100%;
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
  }
}